@charset "utf-8";
:root{
    --body:#f7f6f3;
    --white:#ffffff;
    --dark-blue:#001950;
    --red:#EB1C25;
    --yellow:#E68715;
    --mid-yellow:#f1d9bc;
    --light-yellow:#f5ecdf;

    
}
  
@font-face {
  font-family: 'Ploni ML v2 AAA';
  src: url('../fonts/PloniMLv2AAA-Regular.woff2') format('woff2'),
      url('../fonts/PloniMLv2AAA-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ploni ML v2 AAA';
  src: url('../fonts/PloniMLv2AAA-Regular.woff2') format('woff2'),
      url('../fonts/PloniMLv2AAA-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ploni ML v2 AAA';
  src: url('../fonts/PloniMLv2AAA-Bold.woff2') format('woff2'),
      url('../fonts/PloniMLv2AAA-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ploni ML v2 AAA';
  src: url('../fonts/PloniMLv2AAA-Bold.woff2') format('woff2'),
      url('../fonts/PloniMLv2AAA-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* @font-face {
  font-family: 'Ploni ML v2 AAA';
    src: url('../fonts/PloniMLv2AAA-D-Bold.woff2') format('woff2'),
        url('../fonts/PloniMLv2AAA-D-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Ploni ML v2 AAA';
    src: url('../fonts/PloniMLv2AAA-Regular.woff2') format('woff2'),
        url('../fonts/PloniMLv2AAA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ploni ML v2 AAA';
    src: url('../fonts/PloniMLv2AAA-Medium.woff2') format('woff2'),
        url('../fonts/PloniMLv2AAA-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ploni ML v2 AAA';
    src: url('../fonts/PloniMLv2AAA-Bold.woff2') format('woff2'),
        url('../fonts/PloniMLv2AAA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */



/* 1. Create a Clean Base
------------------------------------------------------------------------------*/

html, body, br, hr, div, span, a, object, iframe, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote, q, address,
small, big, cite, dfn, ins, del, i, em, b, strong, sup, sub, strike, pre, code, samp, kbd, var, tt, form, fieldset, legend, label,input, textarea, option, .nobox {background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}

blockquote, q {quotes: none;}
br {height: 0;}
ul, ol, dl, li {margin:0; padding:0;  color: #555555; font-size: 14px; line-height: 24px;}
html, body{height: 100%; -webkit-appearance:none; border:none; -webkit-text-size-adjust:none;}
body{position:relative;}

/* Class for clearing floats */
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.cf:after,.cf:before{display: table;content: ''}
.cf:after{clear: both;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;direction: rtl !important;}

/* 2. Define Base Typography
------------------------------------------------------------------------------*/

/* Create the Default Headers  */
h1, h2, h3, h4, h5, h6 {color: var(--dark-blue);font-weight: 700;}

/* Specific Header Settings */
h1 {font-weight:bold; font-size:100px; color:var(--white);line-height: 0.81;}
h2 {font-size: 36px;line-height: 38px;}
h3 {font-size:18px;line-height: 22px;}
h4 {font-size:16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

/* Create the Default Paragraphs */
p { color: var(--body); font-size: 18px; line-height:20px;font-weight: 400;}

/* Other Typo */
strong {font-weight: bold;}
hr {border:0 #000 solid; border-top-width: 1px; clear: both; height: 0;}
ol {list-style: decimal;}
ul {list-style:none;}

/* 3. Images
------------------------------------------------------------------------------*/

/* Remove border around linked images */
img {border: 0; border-style: none;max-width: 100%;display: block;}

/* 4. Links
------------------------------------------------------------------------------*/

/* Default Link Types */
a {color:var(--white); font-size: 18px; text-decoration:none;font-weight: 400;display: inline-block;}
a:hover {}
a:active {}
a:focus {outline: none;}
a.current{}


/* 5. Forms
------------------------------------------------------------------------------*/

input[type='submit']{ -webkit-appearance:none; border:none; -webkit-text-size-adjust:none; }
select{-webkit-appearance:none; -moz-appearance:none; -o-appearance:none; appearance:none;background-image: url(../images/select.png);background-repeat: no-repeat;background-position: left 15px center;}
input[type='text'],input[type='tel'],input[type='email'],input[type='password']{}
textarea{overflow:auto;}
::-webkit-input-placeholder{color: var(--dark-blue);}
:-moz-placeholder{ color: var(--dark-blue);}
::-moz-placeholder{ color: var(--dark-blue);}
:-ms-input-placeholder{ color: var(--dark-blue);}
::-ms-input-placeholder{ color: var(--dark-blue);}
:placeholder-shown{ color: var(--dark-blue);}

/*common display style*/
.dis-b{display:block}
.pos_rel{ position:relative;}
.hidden{ display:none !important;}
.d_flex{display: flex;justify-content:flex-start;flex-wrap:wrap;}
.d_flex_ac{align-items: center;}
.d_flex_jc{justify-content: center;}
.d_flex_jb{justify-content: space-between;}


/** Owl Carousel v2.3.4 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/** owl-theme */
 .owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
/* owl nav css */
.owl-nav{ z-index: 1; position: relative; display: flex ; justify-content: space-between; align-items: center; width: 100%; position: absolute; top: calc(50% - 24px); pointer-events: none;}
.owl-nav button{width: 25px;height: 25px;display: flex;justify-content: center;align-items: center;background-color:var(--red) !important;cursor: pointer;transition: 0.4s ease all;pointer-events: all;border-radius: 50%;background-image: url(../images/arrow.png) !important;background-repeat: no-repeat !important; background-position: center !important;transform: scale(1);}
.owl-nav button.owl-next {transform: scale(-1);}
.owl-nav button span{display: none !important;}
.owl-nav button.disabled{pointer-events:stroke;opacity: 0.3;cursor: not-allowed !important;}
.owl-nav button:hover{opacity: 0.8 !important;}
body .owl-dots {display: flex;align-items: center;position: absolute;right:0;top: -35px;}
body .owl-dots .owl-dot{margin-left: 4px;width:10px;height: 10px;border: 1px solid var(--red);border-radius: 20px;transition: 0.5s ease all;}
body .owl-dots .owl-dot span{display: none;}
body .owl-dots .owl-dot.active{width: 28px;background-color: var(--red);}

/*transition effect*/
.tra,a,img,path,svg,.sub,.in{-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}

.btn_blue{line-height: 44px;padding: 0px 50px;border-radius: 30px;background-color: var(--dark-blue);color: var(--white);font-size: 20px;font-weight: bold;display: inline-block;text-align: center;}
.btn_blue:hover{opacity: 0.9;}

.btn_orange{line-height: 44px;padding: 0px 20px;border-radius: 30px;background-color: var(--mid-yellow);color: var(--dark-blue);font-size: 20px;font-weight: bold;display: flex;text-align: center;align-items: center;justify-content: space-between;}
.btn_orange:hover{opacity:1;}

.btn{line-height: 42px;border: 1px solid var(--dark-blue);border-radius: 50px;padding: 0px 63px;font-weight: 700;color: var(--dark-blue);display: block;}
.btn:hover{background-color: var(--dark-blue);color: var(--white);}

/* Page Layout */
body{background-color:var(--body);font-family: 'Ploni ML v2 AAA';}
#full_wrapper{ height: auto !important; margin: 0 auto;}
.wrapper{ width:100%; margin:0 auto;max-width: 1429px;position: relative;}
.container{ margin:0 auto; padding:0; width:100%;}

.bg{position: absolute;top: 0;right: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center;background-size: cover;}

/* lenis scroll */
html.lenis, html.lenis body { height: auto; }

/* svg */
.clip_svg { width: 264px; max-height: 224px; }
.clip_svg img{height: 100%;width: 100%;}

/* Header*/
header{position: fixed;top: 0;right:0;width: 100%;z-index: 99;padding: 57px 0 21px;transition: 0.5s ease all;}
nav{margin-right: 40px;}
nav>ul{}
nav>ul>li{}
nav>ul>li:not(:last-child){margin-left: 20px;}
.search_box{position: relative;margin-left: 20px;}
.search_box>a{width: 44px;height: 44px;border-radius: 50%;position: relative;display: flex;justify-content: center;align-items: center;}
.search_box>a:hover{background-color: #E8DEC3;}
.user{display: flex;align-items: center;font-weight: bold;color: var(--dark-blue);}
.user img{margin-left: 12px;}
.donations{display: flex;align-items: center;font-weight: bold;color: var(--white);background-color: var(--red);line-height: 44px;padding:0 18.5px;border-radius: 50px;margin: 0 20px;}
.donations img{margin-left: 10px;}
.social a{width: 29px;height: 29px;border: 1px solid var(--dark-blue);display: flex;justify-content: center;align-items: center;border-radius: 50%;}
.social a:not(:last-child){margin-left: 10.5px;}
.brand{width: 250px;height: 69px;position: relative;}
.brand img{position:absolute;top: 0;right: 0;}
.brand .hover{opacity: 0;}

/* header fixed  */
header.fixed,
header.open{background-color:#F7F6F3;}
header.fixed .brand img,
header.open .brand img{opacity: 0;}
header.fixed .brand .hover,
header.open .brand .hover{opacity: 1;}
header.fixed nav>ul>li>a,
header.open nav>ul>li>a{color: var(--dark-blue);}

.banner{min-height:614px;position: relative;display: flex;justify-content: center;align-items: center;}
.banner .bg{border-radius: 91px;}
.banner .img_lt{position: absolute;left: 0;top: 0;}
.banner .img_rb{position: absolute;right: 0;bottom: 0;}
.banner h1{position: relative;text-align: center;}

.comman_container{padding:80px 94px 0 0;}
.sidebar_right{width: 301px;margin-left: 92px;}
.sidebar_left{width: 1187px;margin-left: 92px;}

.convenient_contact{position: relative;margin-bottom: 40px;}
.convenient_contact h3{color: #F7F6F3;padding:0px 21.5px 0 50px;background-color: var(--dark-blue);border-radius: 50px;line-height:47px;position: relative;box-shadow: 0px 4px 10px #0000005e;cursor: pointer;}
.convenient_contact h3 span{width: 47px;height: 47px;position: absolute;left: 0;top: 0;display: flex;justify-content: center;align-items: center;cursor: pointer;z-index: 1;}
.convenient_contact h3.open span {}
.convenient_contact h3.open span img{filter: brightness(0) saturate(100%) invert(6%) sepia(96%) saturate(3524%) hue-rotate(213deg) brightness(97%) contrast(103%);transform: scale(-1);}
.convenient_contact .c_shap{position: absolute;left: 0;top: 0;z-index: 1;opacity: 0;pointer-events: none;}
.convenient_contact .c_shap:has(+h3.open){opacity: 1;}
.convenient_contact ul{background-color: #f0f4fd;border-radius: 0 21px 21px 21px;padding: 7px 21px;position: relative;box-shadow: 0px 4px 10px #0000005e;display: none;}
.convenient_contact ul li{padding: 14px 0;}
.convenient_contact ul li:not(:last-child){border-bottom: 1px solid #C3D3F6;}
.convenient_contact ul li a{width: 100%;position: relative;padding-right: 33px;line-height: 40px;color: var(--dark-blue);    display: block;border-radius: 30px;}
.convenient_contact ul li a img,
.convenient_contact ul li a svg{position: absolute;top: 0;bottom: 0;margin: auto;right: 0;}
.convenient_contact ul li a svg{left: 0;right:auto;}
.convenient_contact ul li a:hover{background-color: var(--red);color: var(--white);font-weight: bold;padding: 0px 20px;}
.convenient_contact ul li a:hover img{opacity: 0;}
.convenient_contact ul li a:hover svg{left: 20px;}
.convenient_contact ul li a:hover svg circle{stroke:var(--white);fill:var(--white);}
.convenient_contact ul li a:hover svg path{stroke:var(--red);}

.bluebox_side{border-radius: 30px;background-image: url(../images/bluebox_side.jpg);background-repeat: no-repeat;background-position: top center;min-height: 500px;padding: 37px 20px 57px;}
.comman_rights{}
.comman_rights.rights_benefits{margin-bottom: 20px;}
.comman_rights.useful_information{margin-bottom: 30px;}
.comman_rights .link{color: #E8DEC3;line-height: 37px;position: relative;font-size: 20px;font-weight: bold;display:block;margin-bottom: 12px;}
.comman_rights .link img{position: absolute;left: 0;top: 12px;}
.comman_rights ul{}
.comman_rights ul li{width: calc(50% - 5px);min-height:70px;border-radius: 10px;background-color: #F7F6F3;margin-bottom: 6px;padding: 10px;    display: flex ; flex-direction: column; align-items: flex-start; justify-content: space-between;}
.comman_rights ul li span{color: var(--dark-blue);font-size: 18px;font-weight: 400;line-height: 14px;}

.warrior_journal{position: relative;background-color: var(--mid-yellow);border-radius: 10px;padding: 10px;margin-bottom: 33px;}
.warrior_journal .link{color:var(--dark-blue);line-height: 30px;position: relative;font-size: 20px;font-weight: bold;display:block;margin-bottom: 12px;margin-bottom: 12px;}
.warrior_journal .link img{position: absolute;left: 0;top: 12px;filter: brightness(0) saturate(100%) invert(9%) sepia(79%) saturate(2620%) hue-rotate(213deg) brightness(91%) contrast(107%);}
.warrior_journal .btn_blue{width: 100%;}

.organization_box{position: relative;}
.organization_box .text{position:absolute;top: 0;right: 0;width: 100%;padding:29px 24px 0;text-align: center;}
.organization_box .text h3{font-size: 36px;line-height: 28px;font-weight: 700;color: var(--body);margin-bottom: 20px;}
.organization_box .btn_orange {position: absolute;bottom: 0;right: 0;width: 190px;}
.organization_box.friends_association_box {margin-top: 26px;}
.organization_box.friends_association_box .btn_orange {right: auto;left: 0;}

.war_words_information{margin-top: 40px;}
.war_words_information h3{line-height: 30px;font-size: 23px;margin-bottom: 28px;}
.war_words_information ul{}
.war_words_information ul li{margin-bottom: 14px;}
.war_words_information ul li a{position: relative;display: flex;width: 100%;background-color: #E4ECFB;padding: 12px 65px 15px 15px;flex-wrap: wrap;border-radius: 13px;}
.war_words_information ul li a:hover{box-shadow: 0px 4px 10px #0000005e;}
.war_words_information ul li a>img{position: absolute;top: 14px;right: 11px;}
.war_words_information ul li h4{font-size: 18px;line-height: 22px;margin-bottom: 19px;}
.war_words_information ul li p{font-size: 16px;line-height: 18px;color: var(--dark-blue);width: 100%;position: relative;}
.war_words_information ul li p img{position: absolute;left: 0;bottom: 0;}

.happy_new_year_img{border-radius: 30px;overflow: hidden;position: relative;margin-top: 40px;}
.happy_new_year_img img{width: 100%;}
.happy_new_year_img h3{font-size: 55px;line-height: 50px;color: var(--red);position: absolute;left: 16px;top:10px;bottom: 0;height: fit-content;margin: auto;}

.you_rights_informations{position: relative;}
.you_rights_informations .right_col{width: 512px;background-color: var(--mid-yellow);border-radius: 0 30px 30px 30px;padding: 22px 40px 34px;position: relative;z-index: 1;}
.you_rights_informations h2{margin-bottom: 16px;}
.you_rights_informations .col{position: relative;width: 100%;}
.you_rights_informations .col .in{width: 100%;display: block;height: 44px;color: var(--dark-blue);font-size: 18px;font-weight: 400;border-radius: 10px;border: 1px solid var(--dark-blue);padding:0 16px 0 45px;}
.you_rights_informations .col .sub{position: absolute;height: 44px;width: 50px;background-image: url(../images/right_search.svg);background-repeat: no-repeat;background-size: 15px;background-position: center;font-size: 0;top: 0;left: 0;cursor: pointer;}
.you_rights_informations .left_col{width:calc(100% - 512px);}
.you_rights_informations .left_col .shap{width: 100%;display: block;}
.you_rights_informations h3{margin-bottom: 24px;padding-right: 44px;}
.you_rights_informations ul{padding-right: 44px;}
.you_rights_informations ul li:not(:last-child){margin-left: 10px;}
.you_rights_informations ul li{margin-bottom: 5px;}
.you_rights_informations ul li a{background-color: #C3D3F6;font-size: 16px;line-height: 22px;padding:0 16px;border-radius: 15px;color: var(--dark-blue);display: block;}

.news_announcements{min-height: 500px;position: relative;width: 100%;background-color: var(--light-yellow);border-radius: 30px;margin-top: 80px;padding: 38px 40px 104px 40px;}
.news_announcements .shap{position: absolute;left: 0;bottom: 0;}

.news_announcements>.btn{position: absolute;bottom: 0;left: 0;z-index: 2;}
.news_announcements ul{}
.news_announcements ul li:not(:last-child){margin-left: 10px;}
.news_announcements ul li a{background-color: #522F14;font-size: 16px;line-height: 28px;padding:0 16px;border-radius: 15px;color: var(--white);display: block;}
.news_announcements .inner{margin-top: 32px;}
.news_announcements .col{width:24.2%;background-color: var(--body);border-radius: 20px;position: relative;padding: 14px 14px 44px;margin-bottom: 20px;margin-left: 1%;}
.news_announcements .col:nth-child(4n){margin-left: 0;}
.news_announcements .col .img{height: 130px;border-radius: 11px;overflow: hidden;position: relative;margin-bottom: 17px;}
.news_announcements .col .img img{height: 100%;}
.news_announcements .col .img .sec{position: absolute;right: 0;bottom: 0;background-color: var(--yellow);border-radius: 8px 0 0 0;padding: 0 10px;font-size: 40px;color: var(--body);line-height: 47px;font-weight: bold;}
.news_announcements .col .news{background-color: #522F14;font-size: 14px;line-height:18px;padding:0 16px;border-radius: 15px;color: var(--white);display: block;width: fit-content;}
.news_announcements .col .link{font-size: 23px;color: var(--dark-blue);line-height: 23px;font-weight:700;margin:15px 0;display: block;}
.news_announcements .col p{color: var(--dark-blue);line-height: 24px;margin-bottom: 16px;    display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }
.news_announcements .col .btn_orange { line-height: 44px; padding: 0 10px 0 0; background-color: var(--light-yellow); font-size: 20px;width:fit-content;position: absolute;bottom: 0;left: 0;}
.news_announcements .col .btn_orange img{margin-right: 31px;}
.news_announcements .col .n_shap{position: absolute;bottom: 0;left: 0;}

.organization_events_slider{margin-top: 80px;}
.organization_events_slider h2{margin-bottom: 37px;}
.organization_events_slider .img{position: relative;}
.organization_events_slider .img::after { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 50%; bottom: 0; box-shadow: 0 0 50px #000000b8; z-index: -1; margin: auto; border-radius: 220px;opacity: 0;}
.organization_events_slider .owl-item.center .img::after{opacity: 1;}
.organization_events_slider .img img{width: 100%;height: 100%;}
.organization_events_slider .colin{width: 781px;height: 392px;position: relative;}
.organization_events_slider .colin h3{color: var(--white);font-size: 60px;line-height: 55px;position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: fit-content;height: fit-content;z-index: 2;margin: auto;text-align: center;}
.organization_events_slider .colin h4{font-size: 18px;line-height: 24px;font-weight: 400;position: absolute;left: 0;top: 23px;z-index: 2;}
.organization_events_slider .colin .btn{position: absolute;right: 0;bottom: 0;z-index: 2;background-color: var(--dark-blue); color: var(--white);padding: 0px 50px;}
.organization_events_slider .colin .btn:hover {border-color: var(--dark-blue);background-color: transparent;color: var(--dark-blue);}
.organization_events_slider .svg-clipped {clip-path: url(#svgPath); }
.organization_events_slider .gradient-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; background: rgba(16, 37, 98, 0.7);}
.organization_events_slider .owl-item .colin h3,
.organization_events_slider .owl-item .colin h4,
.organization_events_slider .owl-item .colin .btn{opacity: 0;}
.organization_events_slider .owl-item.center .gradient-overlay{background: rgba(235, 28, 37, 0.5);}
.organization_events_slider .owl-item.center .colin h3,
.organization_events_slider .owl-item.center .colin h4,
.organization_events_slider .owl-item.center .colin .btn{opacity: 1;}
.organization_events_slider .owl-nav,
.organization_events_slider .owl-dots{display: none;}
.organization_events_slider .next_prev_col{margin-top: 72px;}
.organization_events_slider .next_prev_col .arrow{display: flex ; align-items: center; cursor: pointer;}
.organization_events_slider .next_prev_col .arrow span{color: var(--dark-blue);font-size: 18px;line-height: 21px;font-weight: 600;text-decoration: underline;margin-right: 10px;}
.organization_events_slider .next_prev_col .arrow.next span{margin-left: 10px;margin-right: 0;}
.organization_events_slider .next_prev_col .arrow.next img{transform: scale(-1);}

.events_slider{margin-top: 80px;}
.events_slider h2{margin-bottom: 80px;}
.events_slider .colin{width: 460px;height: 309px;position: relative;}
.events_slider .colin .img{width: 100%;height:calc(100% - 25px);border-radius: 40px;}
.events_slider .colin::after{content: '';position: absolute; top: 0; left: 0; width: 100%; height:calc(100% - 25px); pointer-events: none; background: rgba(16, 37, 98, 0.5);border-radius: 40px;}
.events_slider .colin h3{color: var(--white);font-size: 21px;line-height: 21px;position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: fit-content;height: fit-content;z-index:3;margin: auto;text-align: center;}
.events_slider .colin .btn_orange{width: fit-content;left: 0;right: 0;margin: 0 auto;bottom: 0;position: absolute;z-index: 2;direction: rtl !important;}
.events_slider .colin .btn_orange img{margin-right: 36px;width: auto;}
.events_slider .colin .layer{position: absolute;left: 0;bottom:24px;right: 0;margin: 0 auto;z-index: 2;width:fit-content;}
.events_slider .inner *{direction: ltr !important;}
.events_slider .owl-nav { width: 67px; top: -42px; left: 0; }

.idf_disabled_organization{margin-top: 80px;}
.idf_disabled_organization .col{width: 285px;margin-left: 20px;}
.idf_disabled_organization .in{width: 100%;height:44px;border-radius: 50px;border: 1px solid rgba(39, 63, 116, 1);padding: 0px 12px 0 20px;background-repeat: no-repeat;background-repeat: no-repeat;background-image: url(../images/select.png);background-position: left 12px center;font-size: 18px;font-weight: 400;color: rgba(39, 63, 116, 1);}
.idf_disabled_organization .sub{width:fit-content;height:44px;border-radius: 50px;padding: 0px 20px 0 73px;background-repeat: no-repeat;background-repeat: no-repeat;background-image: url(../images/sub.svg);background-position: left 20px center;font-size: 18px;font-weight: 400;color:var(--white);background-color: var(--red);cursor: pointer;}
.idf_disabled_organization .sub:hover{opacity: 0.7;}

.central_district{background-color:var(--mid-yellow);border-radius: 50px;padding: 34px;margin-top: 54px;}
.central_district .right_col{width: 389px;border-radius: 30px;background-image: url(../images/meet_bg.jpg);background-size: 100% 100%;background-repeat: no-repeat;position: relative;padding: 34px 34px 34px 29px;}
.central_district .right_col h2{color: var(--white);margin-bottom: 18px;}
.central_district .right_col .shap{position: absolute;left: 0;bottom: 0;}
.central_district .divide{}
.central_district .divide p{width: 125px;color: var(--white);}
.central_district .divide .btn { background-color: rgba(39, 63, 116, 1); padding: 0px 20px; color: var(--white); line-height: 44px; border: none; box-shadow: 0 5px 18px #00000014; }
.central_district .divide .btn:hover{box-shadow: 0 5px 18px #0000006b;}
.central_district .time_table{padding: 18px;border-radius: 20px;background-color: var(--body);margin-top: 24px;}
.central_district .time_table li{display: flex;justify-content: space-between;align-items: center;}
.central_district .time_table li span{color:rgba(128, 94, 6, 1);line-height: 28px;font-size: 18px;font-weight: 400;}
.central_district .time_table li:not(:last-child){margin-bottom: 12px;border-bottom: 1px solid rgba(128, 94, 6, 1);padding-bottom: 12px;}
.central_district .activity{max-width: 250px;margin-top: 24px;}
.central_district .activity li:not(:last-child){margin-bottom: 13px;}
.central_district .activity li a{background-color: var(--mid-yellow);border-radius: 20px;padding: 10px 16px 10px 10px;display: flex;justify-content: space-between;align-items: center;width: 100%;font-weight: 700;color: var(--dark-blue);}
.central_district .social_link { display: flex ; flex-direction: column; flex-wrap: wrap; position: absolute; bottom: 22px; left: 1px; }
.central_district .social_link li{margin-top: 26.33px;}
.central_district .social_link li a{background-color: var(--dark-blue);width: 40px;height: 40px;border-radius: 50%;display: flex;justify-content: center;align-items: center;}
.central_district .social_link li a:hover{transform: scale(1.1);}

.central_district .left_col{width: calc(100% - 423px);}
.central_district .image_slider{position: relative;}
.central_district .image_slider::after{content: '';position: absolute; top: 0; left: 0; width: 142px; height:91px;background-image: url(../images/meet_slider_shap.png);background-repeat: no-repeat;background-size: 100% 100%;}
.central_district .image_slider .col{width: 100%;height:360px;border-radius: 25px;overflow: hidden;position: relative;}
.central_district .image_slider .col img{height: 100%;}
.central_district .image_slider .owl-nav { width: 67px; top: 0; left: 0; }
.central_district .image_slider .owl-nav button { transform: scale(-1); }
.central_district .image_slider .owl-nav button.owl-next { transform: scale(1); }
.central_district .map{position: relative;width: 100%;height: 284px;border-radius: 20px;overflow: hidden;margin-top: 18px;}
.central_district .map img,
.central_district .map iframe{width: 100%;height: 100%;}

footer{margin-top: 80px;}
.top_footer{background-image: url(../images/footer_bg.jpg);background-repeat: no-repeat;background-size: cover;border-radius: 20px;}
.top_footer .wrapper{padding: 36px 0 31px;}
.top_footer .shap {position: absolute;top: 0;right:-35px;}
.top_footer .logo { max-width: 186px; position: absolute; top: -15px; right: 0; }
.top_footer .col:first-child{width: 388px;    padding-top: 30px;}
.top_footer .col:first-child p{line-height: 22px;margin-bottom: 15px;}
.top_footer .social{margin-top: 80px;}
.top_footer .social li:not(:last-child){margin-left: 12.5px;}
.top_footer .social li a{width: 35px;height: 35px;border-radius: 50%;background-color: #273F74;border-radius: 50%;display: flex;justify-content: center;align-items: center;}
.top_footer .contact_form{width: 594px;position: relative;min-height: 300px;}
.top_footer .contact_form .bg{background-size: 100% 100%;}
.top_footer .contact_form h2{position: relative;font-size: 26px;line-height: 32px;margin-bottom: 15px;}
.top_footer .contact_form .inner{position: relative;padding: 19px 33px 29px 25px;}
.top_footer .contact_form .colin{margin-bottom: 15px;}
.top_footer .contact_form .in{width: 100%;height:40px;border: 1px solid var(--dark-blue);border-radius: 10px;outline: none;background-color: transparent;color: var(--dark-blue);font-size: 18px;font-weight: 400;padding-right: 15px;}
.top_footer .contact_form .col1{width:calc(33.33% - 5px);}
.top_footer .contact_form .col2{width:calc(66.66% - 5px);}
.top_footer .contact_form .col3{width:100%;}
.top_footer .contact_form label[for="checkbox"],
.top_footer .contact_form label.checkbox{color: var(--dark-blue);font-size: 14px;line-height: 32px;font-weight: 400;padding-right:20px;position: relative;cursor: pointer;display: block;margin-top: 42.5px;}
.top_footer .contact_form label input{position: absolute;top: 0;right:0;opacity: 0;}
.top_footer .contact_form label.checkbox::after,
.top_footer .contact_form label.checkbox::before{content:'';position: absolute;right: 0;top: 10px;width: 12px;height: 12px;border-radius: 50%;border: 1px solid var(--dark-blue);box-sizing: border-box;}
.top_footer .contact_form label.checkbox::before{background-color: var(--dark-blue);border:2px solid var(--white);opacity: 0;}
.top_footer .contact_form label.checked::before{opacity: 1;}
.top_footer .contact_form .btn{position: absolute;left: 0;bottom: 0;background-color: var(--white);cursor: pointer;color: var(--dark-blue);}
.top_footer .main_offices{background-color: rgba(39, 63, 116, 1);border-radius: 20px;padding: 15px 20px;width: 300px;}
.top_footer .main_offices h3{color: var(--white);font-size: 29px;line-height: 31px;margin-bottom: 5px;}
.top_footer .main_offices p{color: var(--white);line-height: 22px;margin-bottom: 26px;}
.top_footer .main_offices .btn{background-color: var(--dark-blue);color: var(--white);text-align: center;margin-bottom: 29px;}
.top_footer .main_offices label span{display: block;font-size: 16px;line-height: 22px;color: var(--white);margin-bottom: 5px;}
.top_footer .main_offices label a{text-decoration: underline;font-weight: bold;}
.bottom_footer{background-color: var(--yellow);border-radius: 20px;padding: 25px 0;}
.bottom_footer p,.bottom_footer  a{color: rgba(7, 9, 20, 1);font-size: 12px;font-weight: 400;}
.bottom_footer p span{margin-right: 10px;}
.bottom_footer .left_col p{display: flex;align-items: center;}
.bottom_footer ul{margin-left:41px;}
.bottom_footer ul li:not(:last-child){margin-left: 10px;}
.bottom_footer ul li a{text-decoration: underline;}

/* search_dropdown */
.overlay{    position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); opacity: 0; transition: 0.5s ease all; pointer-events: none; z-index: 9;}
.overlay.open{opacity: 1;pointer-events:all;}
.search_box>a{z-index: 1;}
.search_box::after { content: ''; position: absolute; width: 128px; height: 82px; background-image: url(../images/search_bg.png); background-repeat: no-repeat; background-size: 100% 100%; top: -5px; left: -42px;width: 128px;height: 82px;opacity: 0;transition: 0.5s ease all;}
.search_box.open::after {opacity: 1;}
.search_dropdown{position: fixed; left: 0; top: 147px; width: 100vw; height: auto; padding:49px 0 91px;opacity: 0;transition: 0.5s ease all;pointer-events: none;}
.search_box.open .search_dropdown{pointer-events: all;opacity: 1;}
.search_box.open>a { background-color: #E8DEC3; }
.search_dropdown .bg{background-color: #f5ecdf;height: calc(100% - 155px);}
.search_dropdown .bg img{position: absolute;bottom: -154px;right: 0;display: none;}
.search_dropdown .bg::after{content: '';position: absolute;bottom: -155px;left: 0;width: 100%;height: 155px;background-image:url(../images/search_shap.png);background-repeat: no-repeat;background-size: 100% 100%;}
.search_dropdown .inner{max-width: 1127px;margin: 0 auto;margin-left: 247px;position: relative;}
.search_dropdown h2{margin-bottom: 35px;}
.search_dropdown .in{width: 100%;border: 1px solid var(--yellow);height: 81px;background-color:rgba(250, 245, 239, 1);color: rgba(39, 63, 116, 1);font-size: 20px;font-weight: 400;margin-bottom: 27px;border-radius: 50px;padding:0 30px;}
.search_dropdown .sub{background-color: var(--dark-blue);color: var(--white);cursor: pointer;position: absolute;left: 0;bottom: 0;border:1px solid var(--dark-blue);}
.search_dropdown .sub:hover{background-color:transparent;color: var(--dark-blue);}
.search_dropdown h3{font-size: 18px;line-height: 22px;color: var(--dark-blue);margin-bottom: 27px;}
.search_dropdown ul { max-width: calc(100% - 170px); }
.search_dropdown ul li:not(:last-child){margin-left: 10px;}
.search_dropdown ul li{margin-bottom: 5px;}
.search_dropdown ul li a{background-color: #C3D3F6;font-size: 16px;line-height: 22px;padding:0 16px;border-radius: 15px;color: var(--dark-blue);display: block;}

/* menu_dropdown */
nav>ul>li.drop{position: relative;display: flex ; align-items: center;}
nav>ul>li.drop>span{filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(2196%) hue-rotate(329deg) brightness(110%) contrast(94%);}
nav>ul>li.drop.open>span,
header.fixed nav>ul>li.drop>span,
header.open nav>ul>li.drop>span{filter: brightness(0) saturate(100%) invert(12%) sepia(20%) saturate(5639%) hue-rotate(203deg) brightness(99%) contrast(114%) !important;}
nav>ul>li.drop>a::after { content: ''; position: absolute; top: -6px; width: calc(100% + 20px); height: 76px; background-color: #F5ECDF; left: -10px; border-radius: 15px 15px 0 0; z-index: -1;transition: 0.4s ease all;opacity: 0;}
nav>ul>li.drop::after,
nav>ul>li.drop::before{content: ''; position: absolute; bottom: -44px; width: 36px; height: 35px; left: calc(100% + 10px); background-image: url(../images/drop_shap.svg); background-repeat: no-repeat; background-size: 100% 100%;opacity: 0;transition: 0.4s ease all;}
nav>ul>li.drop::before{left: auto;right: calc(100% + 10px);transform:scale3d(-1, 1,1);}
nav>ul>li.drop>.arrow{margin-right: 5px;}
.menu_dropdown{position: fixed; left: 0; top: 147px; width: 100vw; height: auto; padding:29px 0 40px;opacity: 0;transition: 0.5s ease all;pointer-events: none;}
nav>ul>li.drop.open>a{color: var(--dark-blue);font-weight: bold;}
nav>ul>li.drop.open .menu_dropdown{pointer-events: all;opacity: 1;}
nav>ul>li.drop.open>a::after,
nav>ul>li.drop.open::after,
nav>ul>li.drop.open::before{opacity: 1;}

.menu_dropdown .bg{background-color: #f5ecdf;height: calc(100% - 155px);}
.menu_dropdown .bg img{position: absolute;bottom: -154px;right: 0;display: none;}
.menu_dropdown .bg::after{content: '';position: absolute;bottom: -155px;left: 0;width: 100%;height: 155px;background-image:url(../images/search_shap.png);background-repeat: no-repeat;background-size: 100% 100%;}
.menu_dropdown .inner{max-width: 1127px;margin: 0 auto;margin-left: 247px;position: relative;}
.menu_dropdown .col{width: 279px;border-radius: 23px;background-color:#FAF5EF;padding:23px 32px;}
.menu_dropdown .col h3{line-height: 26px;margin-bottom: 23px;}
.menu_dropdown .col ul{}
.menu_dropdown .col ul li{margin-bottom: 14px;}
.menu_dropdown .col ul li a{color: var(--dark-blue);font-size: 20px;line-height: 43px;position: relative;padding:0px 15px 0 36px;width: 100%;border-radius: 30px;}
.menu_dropdown .col ul li a span{position: absolute;left: 15px;top: 0;bottom: 0;margin: auto;height: fit-content;opacity: 0;}
.menu_dropdown .col ul li a:hover{background-color: #C3D3F6;font-weight: bold;}
.menu_dropdown .col ul li a:hover span{opacity: 1;}
.menu_dropdown .col:last-child{width: 506px;min-height:313px;background-color: transparent;position: relative;}
.menu_dropdown .col:last-child h4{color: #273F74;font-size: 18px;position: absolute;right: 0;top:22px;}
.menu_dropdown .col:last-child .btn{background-color: var(--dark-blue);color: var(--white);position: absolute;left: 0;bottom: 0;padding: 0px 40px;}
.menu_dropdown .col:last-child .btn:hover{background-color: transparent;color: var(--dark-blue);border: 1px solid var(--dark-blue);}
.menu_dropdown .gradient-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; background: #eb1c2675;clip-path: url(#menu_path);}
.menu_dropdown .img{position: absolute; top: 0; width: 100%; left: 0; height: 100%;}
.menu_dropdown .svg-clipped { clip-path: url(#menu_path); position: absolute; left: 0; top: 0; height: 100%;}
.menu_dropdown .col:last-child h5{display: none;}

/* sticky_nav */
.sticky_nav{padding: 18px 11px;position: fixed;right: 0;top: 150px;z-index: 999;transition: 0.5s ease all;border-radius: 30px 0 0 30px;display: none;}
.sticky_nav::after{content:'';position: absolute;top: 0;right: 0;width: 100%;height: 100%;background-color: #273F74;z-index: -1;border-radius: 30px 0 0 30px;transition: 0.5s ease all;}
.sticky_nav .sticky_ham{width: 22px;height: 22px;border-radius: 50%;background-color: var(--yellow);display: flex;justify-content: center;align-items: center;position: relative;margin-bottom: 17px; right: 10px;cursor: pointer;transition: 0.5s ease all;}
.sticky_nav .sticky_ham:hover{transform: scale(1.1);}
.sticky_nav .sticky_ham img{position: absolute;}
.sticky_nav .sticky_ham .hov,
.sticky_nav .sticky_ham.open img{opacity: 0;}
.sticky_nav .sticky_ham.open .hov{opacity:1;}
.sticky_nav>ul{position: relative;padding-top: 0.1px;}
.sticky_nav>ul::after{content:'';position: absolute;top: 0;right: 7px;width: calc(100% - 18px);height: 1px;background-color: var(--dark-blue);}
.sticky_nav>ul>li{margin-top: 8px;}
.sticky_nav>ul>li>a{font-size:0px; line-height: 32px; color: #FEFEFE; font-weight: 600; padding: 11px; border-radius: 50px; display: flex ; justify-content: flex-start; align-items: center;height: 44px;position: relative;}
.sticky_nav>ul>li>a::after{content:'';position: absolute;right: 100%;top: 0;height: 100%;width: 20px;}
/* .sticky_nav>ul>li>a>em{position: absolute;top: 0;right: 0;width: 36px;height: 36px;border-radius: 36px;background-color: #273F74;z-index: 2;} */
.sticky_nav>ul>li>a>span{display: flex;justify-content:space-between;align-items: center;width: 100%; overflow: hidden;max-width: 0;opacity: 0;}
.sticky_nav>ul>li>a>span img{margin-right:4px;}

.sticky_nav.open{box-shadow:-5px 0px 5px #0000002b;}
.sticky_nav.open>ul>li>a>span{max-width: 250px;opacity: 1;padding-right: 8px;}
.sticky_nav.open>ul>li>a{font-size: 18px;}
.sticky_nav.open>ul>li:hover>a{background-color: #1D3569;}
.sticky_nav.open>ul>li:hover .dropbox{opacity: 1;pointer-events: all;}
.sticky_nav.open:has(>ul>li.drop:hover){background-color:#e1eaff;border-radius: 0;}


.sticky_nav .dropbox{position: absolute;top:-57px;right:calc(100% + 11px);background-color: #e1eaff; border-radius: 30px 0 0 30px; padding: 18px 10px 18px 10px;opacity: 0;transition: 0.4s ease all;pointer-events: none;box-shadow: -5px 0px 5px #0000002b;}
.sticky_nav .dropbox h3{color: #273F74;font-size: 18px;line-height: 26px;margin-bottom: 21px;padding-right: 8px;}
.sticky_nav .dropbox ul li { min-width: 160px; }
.sticky_nav .dropbox ul li:not(:last-child){margin-bottom: 13px;}
.sticky_nav .dropbox ul li a { display: flex ; width: 100%; align-items: center; padding: 8px; border: 20px; color: #273F74; font-size: 18px; line-height: 24px; white-space: nowrap; justify-content: space-between;}
.sticky_nav .dropbox ul li a:hover{ background-color: #273f7442;border-radius: 30px;}