@media only screen and (max-width:1850px){
    .banner .img_lt { max-width: 650px; }
    .comman_container { padding: 80px 80px 0 80px;justify-content: space-between;}
    .sidebar_right { width: 301px; margin-left: 0; }
    .sidebar_left { width: calc(100% - 331px); margin-left: 0; }
    .you_rights_informations h3,
    .you_rights_informations ul { padding-right: 24px; }
    .you_rights_informations ul li:not(:last-child) { margin-left: 6px; }
    .search_dropdown .inner { max-width: 910px; margin-left: 247px; }

    .menu_dropdown .inner { max-width: 1137px; margin-left: 80px; }
    .menu_dropdown { padding: 30px 0 100px; }


}
/* 1400 */
@media only screen and (max-width:1599px){
    header { padding: 30px 0 20px; }
    header .wrapper {padding: 0px 40px;}
    .banner .img_lt { max-width: 560px; }
    .banner .img_rb { max-width: 400px; }
    header .brand { width: 200px; height: 56px; }
    .comman_container { padding: 60px 20px 0 20px; }
    .idf_disabled_organization .col { width: 230px; margin-left: 10px; }
    footer .wrapper{padding-left: 20px !important;padding-right: 20px !important;}
    .top_footer .logo { max-width: 160px; top: -15px; right: 40px; }
    .top_footer .shap { right: 20px; max-width: 210px; }
     .search_dropdown { top: 106px; } 
     .search_dropdown .inner { max-width: 910px; margin-left: 97px; }
     .search_dropdown h2 { margin-bottom: 20px; }
     .search_dropdown .in { height: 61px; }
     .menu_dropdown { padding: 30px 0 100px; top: 105px; }

}
/* 1280 */
@media only screen and (max-width:1399px)
{
    h1 { font-size: 80px; line-height: 0.81; }
    .banner .bg { border-radius: 50px; }
    header .wrapper { padding: 0px 20px; }
    .donations { margin: 0 10px; }
    nav>ul>li:not(:last-child) { margin-left: 15px; }
    .banner { min-height: 540px; }
    .banner .img_lt { max-width: 500px; }
    .you_rights_informations .right_col,
    .you_rights_informations .left_col { width: 50%;}
    .news_announcements { min-height: 470px; padding: 30px 30px 84px 30px; }
    .news_announcements .col .img .sec { font-size: 30px; line-height: 35px; }
    .news_announcements .col { padding: 10px 10px 44px; }
    .news_announcements .col .link { font-size: 20px; line-height: 21px; }
    .organization_events_slider .colin { width: 750px; height: 366px; }
    .events_slider .colin { width: 400px; height: 290px; }
    .top_footer .col:first-child { width: 30%; padding-top: 30px; }
    .top_footer .main_offices { width: 24%; }
    .top_footer .contact_form { width: 43%; }
    .search_dropdown .inner { max-width: 830px; margin-left: 97px; }
    .menu_dropdown .inner { max-width: 1000px; margin-left: 40px; }
    .menu_dropdown .col { width: 248px; border-radius: 23px; padding: 20px 20px; }
    .menu_dropdown .col:last-child { width: 430px; min-height: 283px; }


}
@media only screen and (max-width:1279px)
{
    a { font-size: 16px; }
    h1 { font-size: 60px; line-height: 0.81; }
    h2 { font-size: 28px; line-height: 30px; }
    header .brand { width: 130px; height: 36px; }
    nav { margin-right: 20px; }
    nav>ul>li:not(:last-child) { margin-left: 10px; }
    nav>ul>li.drop>.arrow { margin-right: 5px; max-width: 8px; }
    .search_box { margin-left:10px; }
    .donations { margin: 0 10px; }
    .banner .img_lt { max-width: 430px; }
    .banner .img_rb { max-width: 350px; }
    .banner { min-height: 420px; }
    .you_rights_informations{align-items: flex-start;}
    .you_rights_informations .right_col { padding: 20px 20px 20px;    border-radius: 0 20px 20px 20px;}
    .you_rights_informations h3 { margin-bottom: 10px; }
    .news_announcements{margin-top: 40px;}
    .news_announcements .title h2{margin-bottom: 10px;}
    .news_announcements .col { width: 49%; margin-left: 2%; }
    .news_announcements .col:nth-child(2n) { margin-left: 0; }
    .organization_events_slider .colin { width: 550px; height: 280px; }
    .organization_events_slider .img::after { left: 5%; width: 90%; height: 30%; }
    .organization_events_slider .colin h3 { font-size: 40px; line-height: 40px; }
    .central_district .left_col { width: 100%; }
    .central_district .right_col { width: 100%;margin-bottom:30px;}
    .central_district .activity { max-width: calc(100% - 80px); }
    .idf_disabled_organization h2{margin-bottom: 20px;width: 100%;}
    .idf_disabled_organization .col { width: 200px; }
    .top_footer .col:first-child { width: 80%; padding-top: 40px; margin-bottom: 40px;}
    .top_footer .social { margin-top: 20px; }
    .top_footer .main_offices { width: 35%; }
    .top_footer .contact_form { width: 60%; }
    .news_announcements .col .img img{width: 100%;}

    .search_dropdown { top: 93px;padding: 30px 0 70px;}
    .search_dropdown .in { height: 51px; }
    .search_dropdown .inner { max-width: 680px; margin-left: 50px; }
    .search_dropdown .bg {height: calc(100% - 85px); }
    .search_dropdown .bg::after { bottom: -85px; height: 85px; }

    .menu_dropdown .bg {height: calc(100% - 85px); }
    .menu_dropdown .bg::after { bottom: -85px; height: 85px; }
    .menu_dropdown { padding: 30px 20px 70px; top: 94px; }
    .menu_dropdown .inner { max-width: 1000px; margin-left: 0; }
    nav>ul>li.drop>a::after { width: calc(100% + 16px); left: -8px; }
    nav>ul>li.drop::after { left: calc(100% + 8px);}
    nav>ul>li.drop::before { left: auto; right: calc(100% + 8px); }
    .menu_dropdown .col ul li a { font-size: 16px; line-height: 40px; padding: 0px 10px 0 36px; }



}
.ham{display: none;}
.mobile_menu{display: none;}
@media only screen and (max-width:1023px) /* if tablate and mobile view is same */
{
    
    nav{display: none;}
    .sidebar_right{display: none;}
    .sidebar_left { width: 100%; }
    .ham{width: 40px;height: 24px;position: absolute;display: flex;justify-content: center;align-items: center;top: 28px;left: 25px;z-index: 99;}
    .ham span{width: 100%;height: 2px;background-color: rgba(39, 63, 116, 1);}
    .ham span::after,
    .ham span::before{content:'';position: absolute;top: 0;right: 0;width: 100%;height: 2px;background-color: rgba(39, 63, 116, 1);transition: 0.3s ease all;}
    .ham span::before{top: 22px;}
    .ham.open span{background-color: transparent;}
    .ham.open span::after { transform: rotate(45deg); top: 13px;}
    .ham.open span::before {transform: rotate(-45deg);top: 13px;}
    header { padding: 20px 0 20px; }
    header .left_col {margin-left: 50px;}
    header .left_col a:not(.donations) { display: none; }

    .search_dropdown{display: none;}
    .menu_dropdown{display: none;}
    .mobile_menu { display: block; position: fixed; left: 0; top: 84px; width: 100%; height: calc(100vh - 84px); background-color: var(--body);overflow: hidden;padding-bottom:82px;opacity: 0;pointer-events: none;transition: 0.4s ease all;        overflow-y: auto;}
    .mobile_menu.open{opacity: 1;pointer-events: all;}
    .mobile_menu .search_dropdown{display:block;opacity: 1;pointer-events: all;position: relative;top: 0;padding: 17px 16px 33px;}
    .mobile_menu .search_dropdown .bg{display: none;}
    .mobile_menu .search_dropdown h2 { margin-bottom: 12px; font-size: 24px; }
    .mobile_menu .search_dropdown .in { height: 48px;margin-bottom: 33px;}
    .mobile_menu .search_dropdown h3 { font-size: 24px; line-height: 24px; margin-bottom: 12px; }
    .mobile_menu .search_dropdown .wrap{    width: 100%; overflow: auto; }
    .mobile_menu .search_dropdown ul {    flex-wrap: nowrap !important;white-space:nowrap ;}
    .mobile_menu .search_dropdown ul li{ margin-left: 6px; width: max-content;  text-align: center; }
    .mobile_menu .search_dropdown ul li a{        font-size: 16px; line-height: 34px; padding: 0 16px; }
    .mobile_menu .search_dropdown .sub { background-color: transparent; color: var(--white); cursor: pointer; position: absolute; left: 8px; bottom: auto;top: 40px; width: 44px; font-size: 0; padding: 0; background-image: url(../images/search.svg);background-repeat: no-repeat;background-size: 25px;background-position: center; border: none;}
    .mobile_menu .search_dropdown .inner{max-width: 100%;margin: 0;}
    .mobile_menu nav{display: block;background-color: #F5ECDF;padding: 28px 20px;border-radius: 0 0 20px 20px;margin-right: 0;}
    .mobile_menu nav>ul{display:block;}
    .mobile_menu nav>ul>li{margin: 0;margin-bottom: 34px;}
    .mobile_menu nav>ul>li>a{color: var(--dark-blue) !important;line-height: 30px;font-size: 23px;width:calc(100% - 45px);}
    .mobile_menu nav>ul>li>a::after{display: none;}
    .mobile_menu nav>ul>li.drop{flex-wrap: wrap;}
    .mobile_menu nav>ul>li.drop>.arrow { margin-right: 5px; max-width: 40px; width: 40px; height: 30px; display: flex ; justify-content: center; align-items: center;filter: brightness(0) saturate(100%) invert(8%) sepia(79%) saturate(2287%) hue-rotate(210deg) brightness(103%) contrast(108%) !important;}
    .mobile_menu nav>ul>li.drop>.arrow.open{transform: scale(-1);}
    .mobile_menu .menu_dropdown { padding: 16px 0 0; top: 0; position: relative; opacity: 1; pointer-events: all; width: 100%;display: none;transition: none !important;}
    .mobile_menu .menu_dropdown .bg{display: none;}
    .mobile_menu .menu_dropdown .col { width: 100%; border-radius: 20px; padding: 12px; }
    .mobile_menu .menu_dropdown .col:not(:last-child){margin-bottom: 16px;}
    .mobile_menu .menu_dropdown .col h3 { line-height: 26px; margin-bottom: 12px; }
    .mobile_menu .menu_dropdown .col ul li a { font-size: 18px; line-height: 30px; padding: 0px 10px 0 36px; background-color: transparent !important;}
    .mobile_menu .menu_dropdown .col ul li { margin-bottom: 16px; }
    .mobile_menu .menu_dropdown .col ul li a span { left: 0; height: 28px; opacity: 1; width: 28px; background-color: #C3D3F6; border-radius: 50%; display: flex ; justify-content: center; align-items: center; }
    .mobile_menu .menu_dropdown .col ul li a span img{max-width: 15px;}
    .mobile_menu .menu_dropdown .col:last-child { width:100%; min-height: 283px;max-width:  430px;margin: 0 auto;}
    .mobile_menu .menu_dropdown .gradient-overlay { clip-path: url(#menu_path1);}
    .mobile_menu .menu_dropdown .svg-clipped { clip-path: url(#menu_path1);}
    .mobile_menu .social_user{display: flex;align-items: center;justify-content: space-between;padding: 33px 16px 66px;}
    .mobile_menu .social_user .user{font-size: 18px;line-height: 32px;text-decoration: underline;}
    .mobile_menu .social_user .social a { width: 34px; height: 34px; }
    .mobile_menu .social_user .social a:not(:last-child) { margin-left:16px; }
    .mobile_menu .sidebar_right{display: block;margin: 0 auto;}
    .menu_dropdown .col:last-child h5 { display: block; position: absolute; top: 0; bottom: 0; height: fit-content; left: 0; right: 0; margin: auto; z-index: 1; text-align: center; color: #fff; font-size: 32px; line-height: 36px; }




    .comman_container { padding: 40px 16px 0 16px; }
    .you_rights_informations .right_col, .you_rights_informations .left_col { width: 100%; }
    .you_rights_informations .left_col .shap{display: none;}
    .you_rights_informations .right_col { padding:12px; border-radius: 20px;margin-bottom:29px; }
    h2,.you_rights_informations h3 { font-size: 28px; line-height: 24px; }
    .you_rights_informations ul li a { font-size: 16px; line-height: 34px; padding: 0 16px; }
    .news_announcements ul li a { font-size: 16px; line-height: 34px; }
    .news_announcements { margin-top: 40px; width: calc(100% + 32px); margin-right: -16px; border-radius: 0 0 30px 30px; }
    .news_announcements>.btn { left: 16px; }
    .top_footer .contact_form { width: 100%;margin-bottom: 30px;}
    .top_footer .main_offices { width: 100%; }
    footer .bottom_footer .wrapper {justify-content: center;} 



}
.mob{display: none;}

@media only screen and (max-width:767px)
{
    
    header { padding: 20px 0 20px; }
    header .wrapper { padding: 0px 16px; }
    header .brand { width: 144px; height: 40px; }
    .ham { width: 24px; height: 16px; top: 32px; left: 16px; }
    .ham span::before { top: 15px; }
    .ham.open span::after,.ham.open span::before {top: 9px;}
    header .donations { margin:0;padding: 0px 10px;line-height: 30px;}
    header .donations img { margin-left: 5px; }
    header .left_col { margin-left: 32px; }
    .mobile_menu { top: 80px; height: calc(100vh - 80px); padding-bottom: 42px; }
    .mobile_menu .menu_dropdown .col:last-child { min-height: 232px; max-width: 288px; }
    .menu_dropdown .col:last-child h4 { top: 11px; }
    .menu_dropdown .col:last-child .btn { padding: 0px 37px; }
    .menu_dropdown .img { width: 288px; left: -4px; }

    h1 { font-size: 36px; line-height: 1; }
    .banner { min-height: 325px;}
    .banner .img_rb { right: -1px; bottom: -1px; }
    .desk{display: none !important;}
    .mob{display: block;}
    .banner .bg { border-radius: 28px; }
    .you_rights_informations h2 { margin-bottom: 12px; }
    .you_rights_informations .left_col { width: calc(100% + 16px); margin-left: -16px; }
    .you_rights_informations h3 { margin-bottom: 16px; }
    .you_rights_informations h3, .you_rights_informations ul { padding-right:0; }

    .you_rights_informations .wrap{    width: 100%; overflow: auto; }
    .you_rights_informations ul {    flex-wrap: nowrap !important;}
    .you_rights_informations ul li{ margin-left: 6px; width: max-content;white-space:nowrap ;  text-align: center; }
    .news_announcements .title h2 { margin-bottom: 16px; }
    .news_announcements .wrap{    width: 100%; overflow: auto; }
    .news_announcements ul {    flex-wrap: nowrap !important;white-space:nowrap ;}
    .news_announcements ul li{ margin-left: 6px; width: max-content;  text-align: center; }
    .news_announcements { border-radius: 0 0 20px 20px; padding: 30px 16px 40px 0; }
    .news_announcements>.btn { left: 0; position: relative; width: calc(100% - 16px);margin-top: 40px;}
    .news_announcements .shap{display: none;}
    .news_announcements .col{width: 268px;margin-bottom: 0;margin-left: 0;}
    .news_announcements .col .n_shap ,.news_announcements .col .btn_orange img{ width: auto; }
    .events_slider { margin-top: 80px; width: calc(100% + 16px); }
    .events_slider h2 { margin-bottom: 33px; text-align: center; padding-left: 16px; }
    .events_slider .colin { width: 262px; height: 265px; }
    .events_slider .colin .img,.events_slider .colin::after{ border-radius: 24px; }
    .events_slider .colin .layer { bottom: 16px; max-width: 194px; }
    .events_slider .inner * { direction: rtl !important; }
    .events_slider .owl-nav { width: calc(100% - 16px); left: 0; position: relative;top: 0;margin-top: 26px; }
    .events_slider .owl-nav button { width: 40px; height: 40px; transform: scale(-1); }
    .events_slider .owl-nav button.owl-next { transform: scale(1); }
    body .events_slider  .owl-dots { top: auto; bottom: 15px; left: 16px; margin: auto; width: fit-content; }
    .idf_disabled_organization { margin-top: 62px; }
    .idf_disabled_organization { margin-top: 62px; background-color: rgba(241, 217, 188, 1); text-align: center; padding: 28px 20px; width: calc(100% + 32px);         margin-right: -16px;}
    .idf_disabled_organization .col { width: 100%; margin: 0 0 16px 0; }
    .idf_disabled_organization .in{background-color: transparent;}
    .idf_disabled_organization .sub{width: 100%;}
    .central_district { border-radius: 0 0 20px 20px; padding: 0 16px 22px; margin-top: 0; width: calc(100% + 32px); margin-right: -16px; }
    .central_district .right_col { width: 100%; border-radius: 20px; padding: 24px 12px 12px; }
    .central_district .divide p { width: 100%;text-align: center; }
    .central_district .right_col h2 { margin-bottom: 12px; text-align: center; }
    .central_district .divide .btn { width: 100%; text-align: center; margin-top: 20px; }
    .central_district .social_link li a { width: 44px; height: 44px; }
    .central_district .social_link li { margin-top: 12px; }
    .central_district .right_col .shap { max-width: 86px; }
    .central_district .activity { max-width: calc(100% - 62px);margin-top: 12px; }
    .central_district .image_slider .col { height: 232px; border-radius: 20px; }
    .central_district .image_slider::after { top: auto; width: 130px; height: 70px; bottom: 0; transform: scale3d(1, -1, 1); }
    .central_district .image_slider .owl-nav { width: 100px; top: auto; left: 0; bottom: 0; }
    .central_district .image_slider .owl-nav button { width: 44px; height: 44px;min-width: 44px;}
    .central_district .image_slider .owl-nav button.owl-next{margin-right: 12px;}
    .central_district .map { height: 232px; border-radius: 20px; margin-top: 30px; }
    footer { margin-top: 30px; }
    .top_footer .logo { max-width: 160px; top: 0; right: 16px; }
    .top_footer .wrapper { padding: 0 16px 20px !important; }
    .top_footer .col:first-child { width: 100%; padding-top: 78px; margin-bottom: 34px; }
    .top_footer .social li:not(:last-child) { margin-left: 22px; }
    .top_footer .contact_form .bg { background-color: #f1d9bc;border-radius: 20px;background-image: none !important;}
    .top_footer .contact_form .inner { padding: 28px 12px 16px; }
    .top_footer .contact_form h2{text-align: center;}
    .top_footer .contact_form .col1,.top_footer .contact_form .col2 { width: 100%; margin-bottom: 12px;}
    .top_footer .contact_form .colin{margin-bottom: 0;}
    .top_footer .contact_form .btn { position: relative; width: 100%; }
    .top_footer .contact_form label[for="checkbox"], .top_footer .contact_form label.checkbox { font-size: 14px; line-height: 16px; margin: 16.5px 0; max-width: 210px;padding-right: 28px;}
    .top_footer .contact_form label.checkbox::after, .top_footer .contact_form label.checkbox::before { top: 6px; width: 20px; height: 20px; }
    .top_footer .contact_form label.checkbox::before { border: 3px solid var(--white); }
    .top_footer .contact_form { margin-bottom: 20px; }
    .bottom_footer ul { margin-left: 0; width: 100%; justify-content: center; }
    .organization_events_slider { margin-top: 55px;text-align: center;}
    .organization_events_slider h2 { margin-bottom: 33px; }
    .organization_events_slider .next_prev_col{margin-top: 0;}
    .organization_events_slider .next_prev_col .arrow{display: none;}
    .events_slider { margin-top: 50px; }
    .organization_events_slider .img { height: 100%; width: 100%; }
    .organization_events_slider .colin { width: 100%; height: 232px;margin-bottom: 33px; }
    .organization_events_slider .colin h3 { font-size: 32px; line-height: 36px;top: -80px; }
    .organization_events_slider .colin h4 { left: auto; top: auto; z-index: 2; bottom: -5px; right: 1px; }
    .organization_events_slider .next_prev_col .btn{width: 100%;text-align: center;}
    .organization_events_slider .colin .btn { bottom: 59px; background-color: transparent; padding: 0px 50px; width: calc(100% - 32px); margin: 0 auto; left: 0; border-color: #fff; }
    .organization_events_slider .gradient-overlay { background: rgba(16, 37, 98, 0.5); }
    .organization_events_slider .colin:first-child .gradient-overlay{background: rgba(235, 28, 37, 0.5); }
    .organization_events_slider .colin:first-child h3 { top: 0; }
    .organization_events_slider .colin:first-child .btn {display: none;}
    .top_footer .shap { right: -1px; max-width: 210px; top: 0px; }
    footer .wrapper { padding-left: 16px !important; padding-right: 16px !important; }
    .bottom_footer ul li{margin: 0 10px;}
    .bottom_footer .left_col{width:50%;}
    .bottom_footer p span{margin-right: 0;width: 100%;display: block;margin-bottom: 5px;}
    .bottom_footer .left_col {margin-top: 28px;}
    .bottom_footer .left_col p { flex-wrap: wrap; flex-direction: column-reverse; justify-content: flex-end; width: 100%;  flex-wrap: wrap;      text-align: left;         border-right: 2px solid #805e0652;}
    .bottom_footer .left_col p img{ display: block; margin: 0 auto; width: fit-content; margin-left: 0; }
    .bottom_footer .right_col {position: relative;}
    .bottom_footer .right_col p { width: 50%; position: absolute; bottom: -66px; right: 0; }
    footer .bottom_footer .wrapper { justify-content: flex-end; }






}

@media (max-height: 500px)
{

}
