@font-face {
    font-family: 'Ploni ML v2 AAA';
    src: url('PloniMLv2AAA-Regular.woff2') format('woff2'),
        url('PloniMLv2AAA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ploni ML v2 AAA';
    src: url('PloniMLv2AAA-Regular.woff2') format('woff2'),
        url('PloniMLv2AAA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ploni ML v2 AAA';
    src: url('PloniMLv2AAA-Bold.woff2') format('woff2'),
        url('PloniMLv2AAA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ploni ML v2 AAA';
    src: url('PloniMLv2AAA-Bold.woff2') format('woff2'),
        url('PloniMLv2AAA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

